/*
vars
*/
$black: #222222;
$lightGrey: #F4F4F4;
$darkGrey: #353535;
$crimson: #FF214F;

/*  Fonts -

Roboto+Mono:
light 300,
regular 400

Rubik:
bold 700,
black 900

*/

/* Images -

*/

/*
  Mixins
*/

@mixin translateY($e) {
  -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
      transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
    -moz-transition: $e;
      transition: $e;
}

@mixin background($imgpath,$position:center center,$repeat: no-repeat) {
  background: {
      image: url($imgpath);
      position: $position;
      repeat: $repeat;
  }
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: $black;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;
}

.container-fluid {
  line-height: 24px;
  padding: 0;
}

.container {
  text-align: center;
}

h1,h3 {
  font-family: 'Rubik', sans-serif;
}