@import '_config.scss';

header {
  position: fixed;
  display: block;
  width: 100%;
  background: $black;
  color: white;
  height: 90px;
  z-index: 1;

  .logo {
    position: absolute;
    top: 50%; left: 10%;
    @include translateY(-50%);

    img {
      max-height: 60px;
    }
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 10%;
    @include translateY(-50%);

    ul li {
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 14px;
        line-height: normal;
        color: white;
        font-weight: 300;

        &:hover {
          color: $crimson;
          text-decoration: none;
        }
      }
    }
  }
}

.banner {
  @include background('../images/site-banner.jpg', center center);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
.sub-banner {
  @include background('../images/site-banner.jpg', center center);
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  width: 100%;
}

#quote-section {
  background: #FF214F;
  color: white;
  margin: 0 0 60px 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}

h1 {
  margin-top: 30%;
}

.btn-lg {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: $crimson;
  border-radius: 0;
  border: 0;

  &:hover {
    text-decoration: none;
    background: transparent;
    color: $crimson;
    border: 1px solid $crimson;
    @include transition(.4s ease-in-out);
  }
}

.section-heading {
  display: block;
  font-size: 24px;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;

  &:after {
    display: block;
    content: "";
    width: 60px;
    height: 5px;
    background-color: #ff214f;
    margin: 5px auto;
  }
}

#expertise {
  margin-bottom: 80px;
}

#about .container {
  margin-bottom: 80px;

  h1 {
    margin-top: 140px;
  }

}

footer {
  position: absolute;
  width:100%;
  height:60px;
  background:$black;
  color: white;

  .logo {
    position: absolute;
    top: 50%; left: 10%;
    @include translateY(-50%);

    img {
      max-height: 40px;
    }
  }
  p {
    position: absolute;
    top: 50%; right: 10%;
    @include translateY(-50%);
    font-size: 12px;

    span {
      color: $crimson;
      padding-left: 2px;
      font-weight: 700;
    }
  }
}